:root {
  --text: #4a4a4a;
  --text-h: #0047a0;
  --bg: #ffffff;

  --accent-pink: #ffb7c5;
  --accent-red: #cd2e3a;

  --shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.05);

  --glass: rgba(255, 255, 255, 0.8);
}

/* RESET GLOBAL */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

/* BODY */

body {
  background: var(--bg);

  overflow-x: hidden;
  overflow-y: auto;

  font-family: 'Segoe UI', Roboto, sans-serif;
}

/* ROOT */

#root {
  display: flex;
  flex-direction: column;
}